/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 24px 160px;
}
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .btn-primary{
    background-color: #F5F5F5;
    color: #006A50;
    border-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    height: 52px;
    width: 116px;
    border-radius: 8px;
  }
  .btn-secondary{
    background-color: #006A50;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    border: none;
  }
  .nav-title{
    margin-left: 160px;
    margin-right: 190px;
    font-weight: 700;
    font-size: 32px;
    color: #006A50;
  }
  nav ul li{
    list-style: none;
  }
  