/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 24px 160px;
}
.web-title{
    height: 30px;
    width: 222px;
    margin-left: 160px;
}
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  /* button styles start*/
  .btn-primary{
    background-color: #F5F5F5;
    color: #006A50;
    border-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    height: 52px;
    width: 116px;
    border-radius: 8px;
  }
  .btn-secondary{
    background-color: #006A50;
    color: white;
    padding: 17px 34px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    border: none;
  }
  .btn-third-1{
    background-color: #5490F5;
    padding: 20px 11px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    border: none;
  }
  .btn-third-2{
    background-color: #09A15C;
    padding: 20px 11px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    border: none;
  }
  .btn-third-3{
    background-color: #FFC239;
    padding: 20px 11px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    border: none;
  }
  /* button style end */

  /* banner styles start */
  .banner{
    display: flex;
    background-color: #C6E4D6;
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 80px;
  }
  .banner-content{
    height: 560px;
    width: 1280px;
    margin-right: 160px;
    margin-left: 160px;
    padding: 100px 80px;
    border-radius: 15px;
  }
  .banner-title{
    font-weight: 500;
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
  }
  .banner-description{
    font-size: 56px;
    font-weight: 600;
  }
  .banner-image{
    height: 400px;
    width: 474px;
    padding: 100px 80px;
    background-repeat: no-repeat;
  }
  /* banner section end */
  /* nav section start */
  .nav-title{
    margin-left: 160px;
    margin-right: 190px;
    font-weight: 700;
    font-size: 32px;
    color: #006A50;
  }
  nav ul li{
    list-style: none;
  }
  /* nav section end */
  /* Vision of Future section start */
  .vision{
    margin-left: 160px;
    margin-right: 160px;
    color: #0E0E0E;
  }
  .section-title{
    width: 1280px;
    height: 48px;
    font-weight: 700;
    font-size: 40px;
  }
  .section-description{
    font-weight: 400;
    font-size: 16px;
  }
  .vision-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding: 32px;
  }
  .vision-1{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 32px 32px;
    width: 410px;
    height: 325px;
  }
  .vision-2{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px 32px;
    width: 410px;
    height: 325px;
  }
  .vision-3{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px 32px;
    width: 410px;
    height: 325px;
  }
  .vision-title{
    font-weight: 700;
    font-size: 20px;
    color: #0E0E0E;
    opacity: 80%;
    
  }
  .vision-description{
    font-weight: 400;
    font-size: 16px;
    color: #0E0E0E;
    opacity: 70%;
  }